<!--

login-view.html
Author: Cole Vikupitz

-->

<div class="col-9 form-control" style="background-color: rgb(233, 233, 233)">
    <img src="static/revature-logo-large.png" alt="Revature Logo">
    <br><br>
    <h4><i>Expense Reimbursement Portal</i></h4>
    <hr>

    <h6>Please Login to Continue</h6><br>
    <input type="email" class="col-4 form-control" id="email"
        placeholder="Email" maxlength="128"
        style="padding-left: 36px; border: 1px solid black; background: url('static/user-icon.png') no-repeat left center; background-color: white;"
        required/>
    <br>
    <input type="password" class="col-4 form-control" id="password"
        placeholder="Password" maxlength="32"
        style="padding-left: 36px; border: 1px solid black; background: url('static/password-icon.png') no-repeat left center; background-color: white;"
        required/>
    <strong id="id-error"></strong>
    <br>

    <input type="checkbox" id="hidePassword" onclick="togglePassword()">
    <label for="hidePassword">Show Password</label>
    <br>
    <button id="login" class="col-2 form-control"
        style="background-color:rgb(152, 255, 131); border: 1px solid black; color: black;">
        Login
    </button>
    <br>
    
    <!--<button id="createAccount" class="col-2 form-control"
        style="background-color:rgb(131, 220, 255); border: 1px solid black; color: black;">
        Create Account
    </button>-->
    <br>
</div>