<!--

new-request-view.html
Author: Cole Vikupitz

-->


<div class="col-11 form-control" style="background-color: rgb(233, 233, 233)">
    <nav class="navbar sticky-top navbar-expand-sm"
    	style="background-color: white; border: 1px solid black; background-color: rgb(233, 233, 233);">
        <ul class="navbar-nav">
            <li class="nav-item">
                <button class="btn btn-success my-2 my-sm-0" style="border: 1px solid black;"
                    onclick="loadResolvedView()">
                    Resolved    
                </button>
            </li>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
                <button class="btn btn-warning my-2 my-sm-0" style="border: 1px solid black;"
                    onclick="loadPendingView()">
                    Pending
                </button>
            </li>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
                <button class="btn btn-primary my-2 my-sm-0" style="border: 1px solid black;"
                    disabled>
                    New Request
                </button>
            </li>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
                <button class="btn btn-danger my-2 my-sm-0" style="border: 1px solid black;"
                    onclick="logout()">
                    Logout
                </button>
            </li>
        </ul>
    </nav>

    <p id="name" align="left"></p>

	<br>
	<h1>Submit a New Request</h1>
    <hr>
    <p>
        To submit a new request, fill out the following fields below and click submit.
        A financial manager will review and resolve your request as soon as possible.
    </p>
    <br>

    <strong>Amount:</strong>
    <br>
    <input id="amount" class="col-3 form-control" type="number" />
    <br>

    <strong>Type:</strong><br>
    <select id="type" class="col-3 form-control">
    	<option value="" selected>-- Select one --</option>
        <option value="1">Lodging</option>
        <option value="2">Food</option>
        <option value="3">Travel</option>
        <option value="4">Training</option>
        <option value="5">Education</option>
        <option value="6">Supplies</option>
        <option value="7">Medical</option>
        <option value="8">Other</option>
    </select>
    <br>

    <strong>Description (max. 1000 characters):</strong><br>
    <textarea id="description" class="col-5 form-control" maxlength="1000"></textarea>
    <strong id="form-error"></strong>
    <br><br>

    <button id="createAccount" class="btn btn-primary col-2 form-control"
        style="border: 1px solid black;" onclick="submitNewRequest()">
        Submit Request
    </button>
    <br><br>

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Request Submitted!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                A financial manager will review your request as soon as possible.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

