
<div class="col-10 form-control" style="background-color: rgb(233, 233, 233)">
    <nav class="navbar sticky-top navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <button class="btn btn-sm btn-outline-secondary" type="button" onclick="loadSubmittedView()">
                Submitted
                </button>
            </li>
            &nbsp;&nbsp;&nbsp;
            <li class="nav-item">
                <button class="btn btn-sm btn-outline-secondary" type="button" onclick="loadPendingView()">
                Pending
                </button>
            </li>
            &nbsp;&nbsp;&nbsp;
            <li class="nav-item">
                <button class="btn btn-sm btn-outline-secondary" type="button" disabled>
                New Request
                </button>
            </li>
            &nbsp;&nbsp;&nbsp;
            <li class="nav-item">
                <button class="btn btn-sm btn-outline-secondary" type="button" onclick="logout()">
                Logout
                </button>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        
        </ul>
    </nav>


	<h1>Submit a New Request</h1>
    <hr><br>
    <p>
    To submit a new request, fill out the following fields below and click submit.
    A financial manager will review and resolve your request as soon as possible.
    </p><br>

    <strong>Reimbursement Amount:</strong>
    <br>
    <input id="amount" class="col-4 form-control" type="number" />
    <br>

    <strong>Reimbursement Type:</strong>
    <br>
    <input id="amount" class="col-4 form-control" type="number" />
    <br>

    <strong>Please provide any additional details below (max. 1000 characters)</strong>
    <br>
    <textarea id="description" class="col-6 form-control" maxlength="1000"></textarea>
    <br>

    <button id="createAccount" class="col-2 form-control"
        style="background-color:rgb(131, 220, 255); border: 1px solid black; color: black;">
        Submit Request
    </button>
    <br>
    
</div>
    
    