
<div class="col-10 form-control" style="background-color: rgb(233, 233, 233)">
    <nav class="navbar sticky-top navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <button class="btn btn-sm btn-outline-secondary" type="button" onclick="loadSubmittedView()">
                Submitted
                </button>
            </li>
            &nbsp;&nbsp;&nbsp;
            <li class="nav-item active">
                <button class="btn btn-sm btn-outline-secondary" type="button" disabled>
                Pending
                </button>
            </li>
            &nbsp;&nbsp;&nbsp;
            <li class="nav-item">
                <button class="btn btn-sm btn-outline-secondary" type="button" onclick="loadNewRequestView()">
                New Request
                </button>
            </li>
            &nbsp;&nbsp;&nbsp;
            <li class="nav-item">
                <button class="btn btn-sm btn-outline-secondary" type="button" onclick="logout()">
                Logout
                </button>
            </li>
        </ul>
    </nav>
    
    <div>
	    <h1>Pending Requests</h1>
	    <hr><br>
	    <i>You have no currently pending requests.</i>
	    <br>
    </div>
    
</div>
    
    