
<div class="col-10 form-control" style="background-color: rgb(233, 233, 233)">
    <nav class="navbar sticky-top navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <button class="btn btn-sm btn-outline-secondary" type="button" disabled>
                Submitted
                </button>
            </li>
            &nbsp;&nbsp;&nbsp;
            <li class="nav-item">
                <button class="btn btn-sm btn-outline-secondary" type="button" onclick="loadPendingView()">
                Pending
                </button>
            </li>
            &nbsp;&nbsp;&nbsp;
            <li class="nav-item">
                <button class="btn btn-sm btn-outline-secondary" type="button" onclick="loadNewRequestView()">
                New Request
                </button>
            </li>
            &nbsp;&nbsp;&nbsp;
            <li class="nav-item">
                <button class="btn btn-sm btn-outline-secondary" type="button" onclick="logout()">
                Logout
                </button>
            </li>
        </ul>
    </nav>
    
    <div>
    	<div>
	    <h1>Submitted Requests</h1>
	    <hr><br>
	    <i>You have not submitted any requests.</i>
	    <br>
    </div>
    </div>
    
</div>
    
    