<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- As we see here, we must specify the dialect of SQL that we wish for 
			hibernate to speak. Hibernate generates dialect agnostic db commands through 
			its own language known as HQL AKA Hibernate Query Language -->
		<property name="hibernate.dialect">
			org.hibernate.dialect.Oracle10gDialect</property>
		<property name="hibernate.connection.driver_class">
			oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.url">
		jdbc:oracle:thin:@localhost:1521:xe</property>
		<property name="hibernate.connection.username">demo</property>
		<property name="hibernate.connection.password">demo</property>
		
		<property name="hibernate.hbm2ddl.auto">create</property>
		<property name="show_sql">true</property>
		
		<mapping class="com.ex.beans.User" />
		<mapping class="com.ex.beans.Account" />
		<mapping class="com.ex.beans.AccountType" />
		
		

	</session-factory>


</hibernate-configuration>
