<div class="modal-dialog">
    <div class="modal-content" style="width: 350px">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Resolve Ticket</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body mx-auto">

            <input type="number" class="form-control" id="idnum" placeholder="ID"/>
            <br>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <button id="approve" type="button" class="btn btn-primary">Approve</button>
                </div>
                <div class="form-group col-md-6" align="right">
                    <button id="deny" type="button" class="btn btn-primary" style="width: 80px">Deny</button>
                </div>
            </div>
        </div>

    </div>
</div>ml>