<div id="tableview" class="container mt-3">
    <h2 style="color: whitesmoke; font-family: Helvetica">Welcome, Admin</h2>
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <br>
    <table class="table table-bordered table-hover table-responsive-lg" style="background-color: ghostwhite">
        <thead class="thead-light">
        <tr>
            <th id="reimbid">ID</th>
            <th id="submitted">Submitted</th>
            <th id="fname">First name</th>
            <th id="lname">Last name</th>
            <th id="reimbstatus">Status</th>
            <th id="reimbtype">Type</th>
            <th id="reimbdesc">Description</th>
            <th id="reimbamount">Amount</th>
            <th id="reimbresolver">Resolver</th>
            <th id="resolved">Resolved</th>
        </tr>
        </thead>
        <tbody id="myTable">

        </tbody>
    </table>

</div>