<h1>Welcome to the Employee Reimbursement System</h1>
	    <div id = "logger">
			<p>User Name</p>
	        <input type = "text" id = "username"/>
			<p>Password</p>
	        <input type = "password" id = "passcode"/>
	        <br>
	        <button id = "logUser">Login as User</button>
	        <br>
	        <button id = "logAdmin">Login as Manager</button>
	        <br>
	        <button id = "newregister">Register as New User</button>
		</div> 
		<p id = 'message'></p>
		<button id = "logout">Log Out</button>