
	<h2>Please fill out and submit </h2>
		<div id = "submission">
	        <p>First Name</p>
	        <br>
	        <input type = "text" id = "firstname" class="col-4 form-control"/>
	        <br>
	        <p>Last Name</p>
	        <br>
	        <input type = "text" id = "lastname" class="col-4 form-control"/>
	        <br>
	        <p>Desired User Name</p>
	        <br>
        	<input type = "text" id = "userName" class="col-4 form-control"/>
        	<br>
        	<p>Email</p>
        	<br>
        	<input type = "text" id = "email" class="col-4 form-control"/>
        	<br>
        	<p>Password</p>
        	<br>
        	<input type = "text" id = "userName" class="col-4 form-control"/>
        	<br>
	        <button id = "register" class="col-4 form-control">Register</button>
	        <br>
	        <p id = "errorbox"></p>
	    </div> 