<!-- the navigation bar for users-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <button id = "userhome" class="nav-item nav-link">View All Claims</button>
      <button id= "linksubmit" class="nav-item nav-link active">Submit a Claim<span class="sr-only">(current)</span></button>
    </div>
  </div>
</nav>
		<h2>Please fill out and submit </h2>
		<div id = "submission">
	        <input type = "text" id = "amount" class="col-4 form-control"/>
	        <br>
	        <input type = "text" id = "desc" class="col-4 form-control"/>
	        <br>
        	<select id="type" class="col-4 form-control">
        	</select>
        	<br>
	        <button id = "submit" class="col-4 form-control">Submit Claim</button>
	        <br>
	    </div> 