<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <button id = "userhome" class="nav-item nav-link active">View All Claims<span class="sr-only">(current)</span></button>
            <button id = "linksubmit" class="nav-item nav-link">Submit a Claim</button>
          </div>
        </div>
      </nav>
              <h1>Welcome to the Employee Reimbursement System</h1>
              <br>
              <h2>Please Select What You would Like to do.</h2>
              <br>
              <button id = "logout">Log Out</button>