<div id="tableview" class="container mt-3">
	<input class="form-control" id="myInput" type="text" placeholder="Search..">
	<br>
	<table class="table table-bordered table-hover table-responsive-lg table-light">
		<thead class="thead-dark">
			<tr>
				<th>Submitted</th>
				<th>Firstname</th>
				<th>Lastname</th>
				<th>Status</th>
				<th>Type</th>
				<th>Description</th>
				<th>Amount</th>
				<th>Resolver</th>
				<th>Resolved</th>
			</tr>
		</thead>
		<tbody id="myTable">
		
		</tbody>
	</table>

</div>