<div>
		<div class="jumbotron">
			<h1 class="display-4">My Profile</h1>
			<p class="lead">View or edit your account details below.</p>
			
			<hr class="my-4">
			
		</div>'
		
		<div class="alert alert-success alert-dismissible fade show" role="alert" id="updateAlert">
		  <strong>Profile Updated.</strong>
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>
		
		<div class="card text-left" >
			  <div class="card-header">
			    Profile
			  </div>
			  <div class="card-body">
			    <h5 class="card-title"></h5>
			    
			    <p>Username:
			    <input type="text" placeholder="Enter username..." id="un2" /> 
			    <span class="danger" id="messageUsername" style="color:red"></span> <br></p>
			    
			    <p>Password: 
				<input type="password" placeholder="Enter password..." id="pw2" />
				<span class="danger" id="messagePassword" style="color:red"></span> <br></p>
				
				<p>Confirm Password: 
				<input type="password" placeholder="Renter password..." id="pw3" />
				<span class="danger" id="messagePassword2" style="color:red"></span> <br></p>
				
				<p>Firstname: 
				<input type="text" placeholder="Firstname" id="fn2" />
				<span class="danger" id="messageFirstname" style="color:red"></span> <br></p>
				
				<p>Lastname: 
				<input type="text" placeholder="Lastname" id="ln2" />
				<span class="danger" id="messageLastname" style="color:red"></span> <br></p>
				
				<p>Email: 
				<input type="text" placeholder="Email" id="em2" />
				<span class="danger" id="messageEmail" style="color:red"></span> <br></p>
				
				<input type="button" class="btn btn-secondary" id="editProfileBtn" value="Edit" /> 
				<input type="button" class="btn btn-secondary" id="resetProfileBtn" value="Reset" /><br>
				 
			  </div>
			  <div class="card-footer text-muted">
			    
			  </div>
			</div>
	</div>
</div>