<div>
		<div class="jumbotron">
			<h1 class="display-4">Registration</h1>
			<p class="lead">Please enter a value in all fields.</p>
			
		</div>
		
		<div class="card text-center" >
			  <div class="card-header">
			    Register
			  </div>
			  <div class="card-body">
			    <h5 class="card-title"></h5>
			    <input type="text" placeholder="Username" id="un2" /> <br>
				<input type="password" placeholder="Password" id="pw2" /> <br>
				<input type="password" placeholder="Confirm Password" id="confirmPw2" /> <br>
				<input type="text" placeholder="Firstname" id="fn2" /> <br>
				<input type="text" placeholder="Lastname" id="ln2" /> <br>
				<input type="text" placeholder="Email" id="em2" /> <br>
				<span class="danger" id="message" style="color:red"></span><br>
				<input type="button" class="btn btn-secondary" id="registerUser" value="Register" /> 
				<input type="button" class="btn btn-secondary" id="goBackHome" value="Back" /><br> 
				
			  </div>
			  <div class="card-footer text-muted">
			    Made by: Kevin Madison
			  </div>
			</div>
	</div>
</div>