<div id="signupdiv" class="row">
		<div class="jumbotron" style="background-color: powderblue"
			class="col-sm-12">
			<h3 align="left">Enter your Reimbursement information</h3>
			<div style="background-color: powderblue" align="left"
				class="col-sm-4">
				<br> Reimbursement Amount: <input type="text" id="reimamount"
					class="col4 form-control">
					<div class="text-danger" id="amountwrong"></div>
					 <br> Description: 
					 <input	type="text" id="reimdescr" class="col4 form-control"> 
					<br>
					<select id="reimtypes" class="col4 form-control"></select>
				<br>
				<div>
					<input id="addreimbut" type="submit" class="btn btn-primary btn-sm" value="Submit">
					
				</div>
				<div class="text-danger" id="updatewarn"></div>
			</div>
		</div>
	</div>