<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        NDACorp
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li id="viewtick" class="nav-item active">
              <a class="nav-link" href="#">View tickets</a>
            </li>
            <li id="addticket" class="nav-item">
              <a class="nav-link" href="#">Add Ticket</a>
            </li>
            <li id="upinfo" class="nav-item">
              <a class="nav-link" href="#">Update personal information</a>
            </li>
            <li id="ad" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort Tickets
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Tickets Approved</a>
                <a class="dropdown-item" href="#">Tickets that need Approval</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Tickets Denied</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
          <ul class="navbar-nav mr-auto">
          <li id="who"></li>
          <li id="logout" class="nav-item">
                <a class="nav-link" href="#">LogOut</a></li>
          </ul>
          </form>
        </div>
      </nav>
</body>
</html>