<div id="signupdiv" class="row">
		<div class="jumbotron" style="background-color: powderblue"
			class="col-sm-12">
			<h3 align="left">Enter your account information to Update</h3>
			<div style="background-color: powderblue" align="left"
				class="col-sm-4">
				<br> First Name: <input type="text" id="firstnameu"
					class="col4 form-control"> <br> Last Name: <input
					type="text" id="lastnameu" class="col4 form-control"> <br>
				Email: <input type="email" id="emailu" class="col4 form-control">
				<br> Username: <input type="text" id="usernameu"
					class="col4 form-control"> <br> Password: <input
					type="password" id="pwu" class="col4 form-control"
					class="Password"> <br> Re-Enter Password: <input
					type="password" id="pw2u" class="col4 form-control"
					class="Password">
				<div class="text-danger" id="pwmatchu"></div>
				<br>
				<div id="foo2">
					<button id="updateu" class="btn btn-primary btn-sm">Sign
						Up</button>
				</div>
				<div class="text-danger" id="updatewarn"></div>
			</div>
		</div>
	</div>