<div align="center">
	<div class="jumbotron" style="background-color: powderblue"
		class="col-sm-12">
		<h1 align="center" id="tablecap"></h1>
		<table class="table" bordercolor="darkblue">
			<thead>
				<tr>
					<th scope="col">reimId</th>
					<th scope="col">Amount</th>
					<th scope="col">Date Submitted</th>
					<th scope="col">Date Resolved</th>
					<th scope="col">Description</th>
					<th scope="col">author</th>
					<th scope="col">resolver</th>
					<th scope="col">status</th>
					<th scope="col">type</th>
				</tr>
			</thead>
			<tbody id="reimtable">
			</tbody>
		</table>
		<h1 id="tmpholdtick"></h1>
	</div>

</div>