//Manager Page - Reimbursement List

<div align="right">
    <p>Filter :
 	<select name="filter" onchange="setStatusVisibility(this.options[this.selectedIndex].value)">
      	<option value="0">All</option>
      	<option value="1">Pending</option>
      	<option value="2">Approved</option>
      	<option value="3">Denied</option>
    </select>
</div>

<table style="width:100%" id="reimbList">
	<tr>
    	<th>Submission Date</th>
   		<th>Requester</th>
   		<th>Amount</th>
   		<th>Description</th>
   		<th>Resolved on</th>
   		<th>Resolved by</th>
   		<th>Status</th>
   		<th>Accept</th>
   		<th>Decline</th>
	</tr>
</table>

<script>
	refreshTable(0);
</script>