<div id="header" align="right">
    <img id="logo" src="https://mv.force.com/revature/resource/147974939000/RevatureLogo" alt="Revature" >
    <h5 align="left"> Employee Web Portal</h5>
    <h5 align="left"><span id="name"></span></h5>
</div>
 
<hr style="height:4px;border:solid 1px;color:#333;background-color:darkorange;"/>
     
<input class = "topButton" type="button" id="NewRequest" value="New Reimbursement Request" onclick = "loadInternalView(21)"/>
<input class = "topButton" type="button" id="InProgress" value="Current Requests" onclick = "loadInternalView(22)"/>
<input class = "topButton" type="button" id="ReimbList" value="Request History" onclick = "loadInternalView(23)"/>

<div id="page">
</div>