<div id="view">
    <div id="header" align="right">
    <img id="logo" src="https://mv.force.com/revature/resource/147974939000/RevatureLogo" alt="Revature" >
    <h5 align="left"> Finance Manager Web Portal - Employee Page <h5>
    </div>
 
    <hr style="height:4px;border:solid 1px;color:#333;background-color:darkorange;"/>
     
    <div id="page">
    <input type="button" id="UserList" value="Employee List"/>
    <input type="button" id="ReimbList" value="Reimbursements"/>

    <form action="/action_page.php" align="right">
    <p>Sort By :
    <select name="sort">
      <option value="FirstName">First Name</option>
      <option value="LastName">Last Name</option>

      </select>
    <select name="ad">
      <option value="Asc">Asc</option>
      <option value="Desc">Desc</option>
    </select>
    </form>

    <table style="width:100%">
    <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>E-Mail</th>
    <th>Edit User</th>
    <th>Remove User</th>
    </tr>
    <tr>
    <td>Patrick</td>
    <td>Folena</td>
    <td><i>orinkp@yahoo.com</i></td>
    <td><input type="button", value="Edit Employee"></td>
    <td><input type="button", value="Remove Employee"></td>
    </table>
    
    <br>
    <input type="button" id="NewEmp" style="float:right" value="Add New Employee"/>
    </div>
</div>