<div id="header" align="right">
    <img id="logo" src="https://mv.force.com/revature/resource/147974939000/RevatureLogo" alt="Revature" >
    <h5 align="left"> Finance Manager Web Portal</h5>
    <h5 align="left"><span id="name"></span></h5>
</div>
 
<hr style="height:4px;border:solid 1px;color:#333;background-color:darkorange;"/>

<div id="buttonList" align="left">
<input type="button" id="userlist" value="Employee List" onclick="loadInternalView(11)"/>
<input type="button" id="ReimbList" value="Reimbursements" onclick="loadInternalView(12)" />
</div>

<div id="page">
</div>