/* You can add global styles to this file, and also import other style files */
body 
{
    background-color: rgb(110, 255, 110);
}

h1
{
    color: rgb(66, 32, 100);
    font-size: 40px;
    text-align: center;
}
br
{
    color: rgb(66, 32, 100);
}
p,h2
{
    text-align: center;
}

#logger
{
	text-align: center;
}
nav
{
	 background-color: rgb(66, 32, 100);
}