<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ERS</display-name>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.revature.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReimbTypeServlet</display-name>
    <servlet-name>ReimbTypeServlet</servlet-name>
    <servlet-class>com.revature.servlets.ReimbTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReimbTypeServlet</servlet-name>
    <url-pattern>/ReimbTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpPendingServlet</display-name>
    <servlet-name>EmpPendingServlet</servlet-name>
    <servlet-class>com.revature.servlets.EmpPendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpPendingServlet</servlet-name>
    <url-pattern>/EmpPendingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewRequestServlet</display-name>
    <servlet-name>NewRequestServlet</servlet-name>
    <servlet-class>com.revature.servlets.NewRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewRequestServlet</servlet-name>
    <url-pattern>/NewRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpResolvedServlet</display-name>
    <servlet-name>EmpResolvedServlet</servlet-name>
    <servlet-class>com.revature.servlets.EmpResolvedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpResolvedServlet</servlet-name>
    <url-pattern>/EmpResolvedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserByIdServlet</display-name>
    <servlet-name>UserByIdServlet</servlet-name>
    <servlet-class>com.revature.servlets.UserByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserByIdServlet</servlet-name>
    <url-pattern>/UserByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TypeServlet</display-name>
    <servlet-name>TypeServlet</servlet-name>
    <servlet-class>com.revature.servlets.TypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TypeServlet</servlet-name>
    <url-pattern>/TypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatusServlet</display-name>
    <servlet-name>StatusServlet</servlet-name>
    <servlet-class>com.revature.servlets.StatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusServlet</servlet-name>
    <url-pattern>/StatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsersServlet</display-name>
    <servlet-name>UsersServlet</servlet-name>
    <servlet-class>com.revature.servlets.UsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersServlet</servlet-name>
    <url-pattern>/UsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FMPendingServlet</display-name>
    <servlet-name>FMPendingServlet</servlet-name>
    <servlet-class>com.revature.servlets.FMPendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FMPendingServlet</servlet-name>
    <url-pattern>/FMPendingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FMResolvedServlet</display-name>
    <servlet-name>FMResolvedServlet</servlet-name>
    <servlet-class>com.revature.servlets.FMResolvedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FMResolvedServlet</servlet-name>
    <url-pattern>/FMResolvedServlet</url-pattern>
  </servlet-mapping>
</web-app>